<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>

<ul class="mainContentMenu2 active">
  <li class="PW1">
    <label for="currentPW">
      <br>
      <p style="display:inline;">
        현재 비밀번호 &ensp;&ensp;
      </p>
    </label>
  </li><input type="password" id="currentPW" maxlength="20" placeholder="&ensp;현재 비밀번호">
  <i class="fa-solid fa-circle-check" style="color: #79cd9c;"></i><i class="fa-regular fa-circle-check" style="color: #79cd9c;"></i>
  <div id="currentPW_down">올바른 비밀번호를 입력하세요.(공백제외 영문 대소문자, 숫자, 특수문자를 조합해서 8~20자)</div>
  <li class="PW2">
    <label for="newPW2">
      <br>
      <p style="display:inline;">
        새 비밀번호 입력
      </p>
    </label>
  </li><input type="password" id="newPW2" maxlength="20" placeholder="&ensp;새 비밀번호">
  <i class="fa-solid fa-circle-check a" style="color: #79cd9c;"></i><i class="fa-regular fa-circle-check a" style="color: #79cd9c;"></i>
  <div id="newPW2_down">올바른 비밀번호를 입력하세요.(공백제외 영문 대소문자, 숫자, 특수문자를 조합해서 8~20자)</div>
  <li class="PW3">
    <label for="newPW3">
      <br>
      <p style="display:inline;">
        새 비밀번호 확인
      </p>
    </label>
  </li><input type="password" id="newPW3" maxlength="20" placeholder="&ensp;새 비밀번호 재확인">
  <i class="fa-solid fa-circle-check b" style="color: #79cd9c;"></i><i class="fa-regular fa-circle-check b" style="color: #79cd9c;"></i>
  <div id="newPW3_down">올바른 비밀번호를 입력하세요.(공백제외 영문 대소문자, 숫자, 특수문자를 조합해서 8~20자)</div>
  <br>
  <br>
  <li class="PW4"><p><br>안전한 비밀번호 사용하는 방법<br><br>
    &ensp;영문 대소문자, 숫자, 특수문자를 조합해서 8~20자로 작성(띄어쓰기 불가)<br><br>
    &ensp;영문 대소문자, 숫자, 특수문자를 조합해서 작성 / 아이디와 동일하거나 개인정보가 포함된 비밀번호는 사용 비권장 연속된 영문/숫자나 키보드의 연속패턴은 사용 비권장(ex AAA, 1234, ASDF)<br><br>
    &ensp;6개월마다 비밀번호 변경 권장</p>
    <br><br><li class="PW5"><button id="compl" onclick="location.href='#'">변경완료</button></li>
</ul>

</div>
</body>
</html>